{% extends 'layout.html' %}

{% block title %}
{{course.title}}
{% endblock %}

{% block content %}
<div class="container">
        <article>
                <h2>{{course.title}}</h2>
                <p>{{course.description}}</p>
                <div>
                        <h2>The Modules</h2>
                        <h6>Number of Modules {{course.step.count}}</h6>
                    {% for step in course.step.all %}
                        <h4> <a href="{% url 'stepdet' course_pk=step.course.pk step_pk=step.pk %}">{{ step.title }}</a>  </h4>
                        <p>{{ step.description }}</p>
                    {% endfor %}
                </div>
            </article>
</div>
{% endblock %}